* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.App {
  /* background-color: #15202B; */
  background-color: #192734;
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.Link_huver:hover {
  background-color: aliceblue;
}
